.weather-icon_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-icon {
  width: 200px;
  height: 200px;
}

.slider_container {
  position: absolute;
  bottom: 100px;
  width: 80%;
  margin: 0 10%;
}
